[Unit]
Description=i3lock on suspend
After=sleep.target

[Service]
User=%I
Type=oneshot
Environment=DISPLAY=:0
ExecStart=-/home/ralino/.config/i3/helper/i3lock.sh
KillMode=none

[Install]
WantedBy=sleep.target
